{% extends 'base.html' %}
{% block title %}Sobre{% endblock %}
{% block content %}
<div class="container">
<h2>Sobre</h2>

<p class="text-left">Atualmente esse aplicativo cria personagens nível 1 com
atributos rolados com 3d6 em ordem. Todo o restante é aleatório sem nenhum
refinamento no algoritmo. Não é a toa que saem tantos personagens da classe
Ladrão! A ideia era ter uma ferramenta básica que pudesse ir crescendo aos
poucos conforme a utilização e interesse da comunidade.</p>

<p class="text-left">O objetivo final é um aplicativo onde jogadores e mestres
possam criar, armazenar e compartilhar personagens de Old Dragon. Alguns itens
planejados para o futuro:</p>

<ul>
  <li>Criação detalhada passo a passo.</li>
  <li>Slots para salvar personagens no sistema.</li>
  <li>Ficha interativa automática (inventário, dinheiro, progressão de level, etc).</li>
  <li>Diferentes templates de ficha para impressão.</li>
</ul>
</div>
{% endblock %}
