{% extends 'base.html' %}
{% block title %}Criador de personagens{% endblock %}
{% block content %}
<div class="container">
  <div class="starter-template">
    <h1>Criador de personagens</h1>
    <p class="lead">Crie personagens aleatórios com apenas um clique</p>

    <p class="text-center">
      <a href="/personagens/aleatorio" class="btn btn-primary btn-lg"><i class="fas fa-random"></i> Criar Personagem</a>
    </p>

    {% if p %}
    <form method="post" action="/personagens/pdf">
      <div class="card text-center">
        <div class="card-body">
          <h3 class="card-title">{{ p.raca }}, {{ p.classe['nome'] }}, Nível 1</h3>
          <h4 class="card-subtitle mb-2 text-muted">
            FOR <span class="badge badge-secondary">{{ p.atributos['forca']['valor'] }}</span>
            DES <span class="badge badge-secondary">{{ p.atributos['destreza']['valor'] }}</span>
            CON <span class="badge badge-secondary">{{ p.atributos['constituicao']['valor'] }}</span>
            INT <span class="badge badge-secondary">{{ p.atributos['inteligencia']['valor'] }}</span>
            SAB <span class="badge badge-secondary">{{ p.atributos['sabedoria']['valor'] }}</span>
            CAR <span class="badge badge-secondary">{{ p.atributos['carisma']['valor'] }}</span>
          </h4>
        <hr />
        <div class="card-text">
          <div class="row">
            <div class="col-6">
              <h5>Armas e proteção</h5>
              <ul class="text-left">
              {% for item in p['equipamentos'] %}
              {% if item['tipo'] == 'arma' or item['tipo'] == 'protecao' %}
                <li>{{ item['nome'] }}</li>
              {% endif %}
              {% endfor %}
              </ul>
            </div>
            <div class="col-6">
              <h5>Equipamentos</h5>
              <ul class="text-left">
              {% for item in p['equipamentos'] %}
              {% if item['tipo'] == 'geral' %}
                <li>{{ item['nome'] }}</li>
              {% endif %}
              {% endfor %}
              </ul>
            </div>
          </div>
        </div>
          <input type="hidden" name="personagem" value="{{ p | safe }}" />
          <button type="submit" class="btn btn-success text-center"><i class="fas fa-print"></i> Imprimir Ficha</button>
        </div>
      </div>
    </form>
    {% endif %}

  </div>
</div>
{% endblock %}
